In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [2]:
print("Hello Bootcamp")

Hello Bootcamp

In [3]:
a = [1,2,3,4,5,6,7,8]

In [4]:
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
b = [i ** 2 for i in a]

In [7]:
b

[1, 4, 9, 16, 25, 36, 49, 64]

In [9]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [10]:
import numpy as np

In [11]:
aar = np.array(a)
aar

array([1, 2, 3, 4, 5, 6, 7, 8])

In [12]:
b1 = aar ** 2
b1

array([ 1,  4,  9, 16, 25, 36, 49, 64])

In [13]:
%timeit (b)

25.7 ns ± 0.477 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [15]:
%timeit (b1)

24 ns ± 0.512 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [28]:
!pip install pandas
import pandas as pd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [30]:
d= {'Name': ['Tom', 'Joseph', 'Krish', 'John'], 'Age': [20, 21, 19, 18]}
print(pd.DataFrame(d))

     Name  Age
0     Tom   20
1  Joseph   21
2   Krish   19
3    John   18